<a href="https://colab.research.google.com/github/SherwinVarghese/Machine-Learning/blob/googlecolab/Python_Intoduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Get all keywords in Python 3.6

import keyword

'''

block comment

'''
print("Keywords are:")
print(keyword.kwlist)
print ("Total number of keywords: ",len(keyword.kwlist))

Keywords are:
['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
Total number of keywords:  33

In [0]:
s = "This is a string"

print (s[0])
print (len(s))
#slicing
print(s[:3])
print(s[5:])

T
16
Thi
is a string

In [0]:
#Lists are mutable
a = [10, 20.5, "Hello"]
#Lists are mutable

a[1] = 30.7
print (a)

[10, 30.7, 'Hello']

In [0]:
#Tuple
# Same as list but immutable

t =(10, 20.5, "Hi")
#or t=()

t[0] ='Hi'

#Tuples are used to read data from a database

# Python considers this as a statement
t = (1)
t = (1+2)

t = (1 ,) # t is a tuple

TypeError: ignored

In [0]:
# Set
s = {10, 20, 30, 40, 50, 20}
# Not mutable

#Items in the set are not ordered
print (a)
print(type(a))

{40, 10, 50, 20, 30}
<class 'set'>

In [0]:
# Lists all possible methods that can be executed using the set data type
dir(s)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [0]:
# adding s
s.add(50)
print(s)

#Help with descriptions for a data type
help(s)

{40, 10, 50, 20, 30}
Help on set object:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      If the element is not a member, do nothing.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [0]:
# Output

a = 10

print ("The value of a is ", a)
print("The value of a is" + str(a))
print(" The value of a is {} ".format(a*100))

The value of a is  10
The value of a is10
 The value of a is 1000

In [0]:
#Input formats



#raw_input and input
#python 2.7 bugs

def bankDetails():
   """
   retieves information about the bank account
   """
   print("Sensitive Data")
  

accNum = input("Enter the account number ")
print (type(accNum))

# Change to Python2 call the function and provide the input bankDetails() in the interpreter
# It wil show as a function.

Enter the account number bankDetails()
<class 'str'>

In [0]:

a,b,c = 20,30,50

#max = a >b ?(a>c ?a:(b>c?b:c)):''
if(a>b and a>c):
  print(a)
elif(b>c and b>a):
  print(b)
elif(c>a and c>b):
  print(c)

50

In [0]:
#Dictionary
d = {a:"car",b :"door"}

print(d)

for keys in d:
  print(d[keys])

{20: 'car', 30: 'door'}
car
door

In [0]:
#While with else
numbers =[1,2,3,4,5,6]
index = 0

while index < len(numbers):
  print(numbers[index])
  index=100
  index+=1 
else:
  print("no item left in the list")
  
#Else is like finally in Java. executes even if exception occours.

1
no item left in the list

In [0]:
#For loop variants
# For in range
for i in range (0, 20, 5): #range (start, end, step)
  print(i) 
print("second loop")
  
for i in range (30, 20, -5): #range (start, end, step)
  print(i)

0
5
10
15
second loop
30
25

Simple program to print all the prime numbers within an interval

In [0]:
low = int(input("Enter the lower limit "))
high = int(input ("Enter the higher limit " ))


for i in range (low, high+1):
  if(i <= 2):
    print (i)
  else:
    for j in range(2, i):
      if(i%j == 0):
        break
      print (i)

Enter the lower limit 1
Enter the higher limit 10
1
2
3
5
5
5
7
7
7
7
7
9

In [0]:
# Tuple Play Ground
# Python considers this as a statement
t = (1)
t = (1+2)

t = (1 ,) # t is a tuple

a=[1,2,3]

t = (1, (1,2,3), a)

print (t)

a = [2,3,4]

print (t) #tuple is immuatble

(1, (1, 2, 3), [1, 2, 3])
(1, (1, 2, 3), [1, 2, 3])

Python program to check if a string is a palindrome or not

In [0]:
str =  input ("Enter the string")

j = len(str)-1;

for i in range(0, len(str)):
  if(str[i] != str[j]):
    print ("Not a palindrome")
    break

Print Fibonacci Series in recursion

In [0]:
def fibonacci(n):
  if( n<= 1):
    return 1
  else:
    return(fibonacci(n-1) + fibonacci(n-2))

In [0]:
def fib_n(n):
  """
  prints the fibonaccu elements upto n
  """
  l = []
  for i in range(n):
    l.append(fibonacci(i))
  print(l)
  
  
n = int(input("Enter the number "))
fib_n(n)
#print (fib_n.__doc__)

Enter the number 10
[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

# Neumerical Python - Numpy

In [0]:
#Import the modules
import numpy as np
import matplotlib.pyplot as plt

#percentages of men selected for each course
percentage_men = np.array([0.62, 0.63, 0.37, 0.33, 0.28, 0.06])

#number of women selected for each coursej

In [0]:
from scipy import stats

#List of Ages
ages = [10, 15, 11,11,23,34,96]

#Mean of the ages
print("Mean of the ages is {}".format(np.mean(ages)))
#Median of the ages
print("Median of the ages is {}".format(np.median(ages)))
#Mode of the ages
print("Mean of the ages is {}".format(stats.mode(ages).mode))

Mean of the ages is 28.571428571428573
Median of the ages is 15.0
Mean of the ages is [11]

In [0]:
#Seaborn
import seaborn as sns

#load the iris data set
iris = sns.load_dataset("iris")

#Head of the dataset
iris.head()

#tails
#iris.tail()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [0]:
print (np.mean(iris.sepal_length))

5.843333333333335

In [0]:
plt.style.use('seaborn-white')

data = np.random.normal(size=1000)

# Inferencial Statistics

In [0]:
expected = np.array([20, 20, 30, 40, 60, 30])
observed = np.array([30, 14, 34, 45, 57, 20])

obs_expec_squared = [np.square(o-e)/e for o,e in zip(observed, expected)]

np.sum(obs_expec_squared)

11.441666666666666